{{ define "main" }}
<div class="story__masthead">
  <div class="col-title">
    <h1>{{ .Title }}</h1>
  </div>
</div>
<div class="projects">
  {{- range $i, $p := .Pages.ByWeight }}
  <a class="project-row" href="{{ .RelPermalink }}">
    <div class="project-row__num">{{ printf "%02d" (add $i 1) }}</div>
    <div class="project-row__title"><h3>{{ .Params.shortTitle | default .Title }}</h3></div>
    <p class="project-row__blurb">{{ .Params.blurb }}</p>
    <div class="project-row__partner">{{ .Params.partner }}</div>
  </a>
  {{- end }}
</div>
{{ end }}
