<footer class="bg-theme-light footer-lumax">
  <div class="container">
    <div class="row py-10">
      
      <!-- Left: Logo -->
      <div class="lg:col-2 mb-8 text-center lg:mb-0 lg:text-left">
        <a class="navbar-brand inline-block" href="{{ site.Home.RelPermalink }}">
          {{ partial "logo" }}
        </a>
      </div>

      <div class="lg:col-3 mb-8 lg:mb-0 lg:text-left">
        <h5 class="mb-3">Menu</h5>
        <ul class="space-y-1">
            {{ range .Site.Menus.footer }}
          <li class="w-full lg:w-auto"><a href="{{ .URL }}" class="text-base hover:text-primary transition">{{ .Name }}</a></li>
            {{ end }}
        </ul>
      </div>

      <div class="lg:col-3 mb-8 lg:mb-0 lg:text-left">
        <h5 class="mb-3">Themes</h5>
        <ul class="space-y-1">
          {{ range .Site.Menus.footer_sub }}
          <li class="w-full lg:w-auto"><a href="{{ .URL }}" class="text-base hover:text-primary transition">{{ .Name }}</a></li>
            {{ end }}
        </ul>
      </div>

      <!-- Right: Footer Text Block -->
      <div class="lg:col-4 lg:text-left">
        <h5>Quantifying Nature, Understanding Ecosystems, Advancing Conservation</h5>
        <p class="text-sm">We use AI-powered drones atic ecosystems—sustainably, accurately, and in real time.</p>
      </div>

    </div>
  </div>


</footer>
