<footer class="bg-theme-light footer-lumax">
  <div class="container">
    <div class="row py-10">
      
      <!-- Left: Logo -->
      <div class="lg:col-2 mb-8 text-center lg:mb-0 lg:text-left">
        <a class="navbar-brand inline-block" href="{{ site.Home.RelPermalink }}">
          {{ partial "logo" }}
        </a>
      </div>


      <!-- Right: Footer Text Block -->
      <div class="lg:col-4 lg:text-left">
        <h5>Field Data, Ecological Analytics, Conservation Impact</h5>
      </div>

    </div>
  </div>


</footer>
